<!-- <app-navbar></app-navbar>

<div class="container mt-5">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/contatos']">contatos</button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/empregados']">
      funcionários
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/pedidos']">pedidos</button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/controle-estoque']">
      controle estoque
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/catalogo-produtos']">
      catalogo produtos
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['']">
      LOGOUT
    </button>
  </div>
</div> -->

<div class="container-fluid h-100 p-0">
  <div class="row h-100 no-gutters">
    <div class="col-md-3 h-100">
      <div class="h-100" id="sidemenu">
        <h3 class="pt-5">Menu Inicial</h3>

        <ul id="menu">
          <li class="item-menu" [routerLink]="['contatos']">Contatos</li>
          <li class="item-menu" [routerLink]="['empregados']">Funcionários</li>
          <li class="item-menu" [routerLink]="['pedidos']">Pedidos</li>
          <li class="item-menu" [routerLink]="['controle-estoque']">Controle de estoque</li>
          <li class="item-menu" [routerLink]="['catalogo-produtos']">Catálogo de produtos</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet class="float-right"></router-outlet>
    </div>
  </div>
</div>
