#sidemenu {
  /* width: 300px; */
  background-color: rgba(10, 9, 9, 0.76);
  color: white;
}

#menu {
  font-size: 24px;
  list-style: none;
  padding: 10px;
  margin: 50px auto;
}

.item-menu {
  margin-top: 20px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
}

.item-menu:hover {
  cursor: pointer;
  background-color: rgba(10, 9, 9, 0.315);
}
