<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/contatos']">contatos</button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/empregados']">
      funcionários
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/pedidos']">pedidos</button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/controle-estoque']">
      controle estoque
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/catalogo-produtos']">
      catalogo produtos
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['']">
      LOGOUT
    </button>
  </div>
</div>
