<app-navbar></app-navbar>

<div class="container-fluid">
  <h3 class="d-inline-block">Controle de Estoque</h3>
  <button class="btn btn-sm btn-primary float-right" (click)="openModal(inventory_form_modal)">Novo</button>

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Cód.</th>
        <th>Nome do produto</th>
        <th>Qtds</th>
        <th>Data entrada</th>
        <th>Data saída</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of invetory_control">
        <td>{{ product.idProduto }}</td>
        <td>{{ product.nomeProduto }}</td>
        <td>{{ product.quantidaProduto }}</td>
        <td>{{ product.entradaProduto | date:'dd/MM/yyyy' }}</td>
        <td>{{ product.saidaProduto | date:'dd/MM/yyyy' }}</td>
        <td>
          <div class="input-group input-group-sm">
            <select class="form-control" #action (change)="set_action(action.value)">
              <option value="---">---</option>
              <option value="Atualizar">Atualizar</option>
              <option value="Deletar">Deletar</option>
            </select>
            <div class="input-group-append" (click)="execute_action(product, inventory_form_modal, delete_modal)">
              <span class="input-group-text" id="action">OK</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #inventory_form_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modal_title_text }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="inventoryControlForm" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nomeProduto">Nome do Produto</label>
          <input type="text" class="form-control form-control-sm" id="nomeProduto" formControlName="nomeProduto">
        </div>
        <div class="form-group col-md-6">
          <label for="quantidaProduto">Qtds produto</label>
          <input type="number" class="form-control form-control-sm" id="quantidaProduto"
            formControlName="quantidaProduto">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="entradaProduto">Data entrada</label>
          <input type="date" class="form-control form-control-sm" id="entradaProduto" formControlName="entradaProduto">
        </div>
        <div class="form-group col-md-6">
          <label for="saidaProduto">Data saída</label>
          <input type="date" class="form-control form-control-sm" id="saidaProduto" formControlName="saidaProduto">
        </div>
      </div>

      <div class="btn-group btn-group-sm d-flex justify-content-between" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-sm btn-secondary col-md-6 mr-2">Cancelar</button>
        <button type="button" class="btn btn-sm btn-success col-md-6" *ngIf="!update_flag; else update_template"
          [disabled]="inventoryControlForm.invalid" (click)="postInventoryControl()">Salvar</button>
        <ng-template #update_template>
          <button type="button" class="btn btn-sm btn-success col-md-6" [disabled]="inventoryControlForm.invalid"
            (click)="putInventoryControl()">Update</button>
        </ng-template>
      </div>

    </form>
  </div>
</ng-template>

<ng-template #delete_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deletar pedido</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Deseja realmente deletar o registro deste funcionário?</h5>
    <button type="button" class="btn btn-sm btn-success d-block col" (click)="deleteInventoryControl()">Excluir</button>
  </div>
</ng-template>
